# Dependency directories
node_modules/
.DS_Store
_Store
.AppleDouble
.LSOverride
.envrc
__pycache__

*.log
tags

# Specific to this repository
meta.json
build/*.ankiaddon

# Compiled gui
/src/gui_config/*.py
